body {
  /* Adjusted positions and sizes of radial gradients */
  background: 
    radial-gradient(circle at 20% 50%, #F6DC68 40%, transparent 40%),
    radial-gradient(circle at 40% 50%, #CC70CE 40%, transparent 40%),
    radial-gradient(circle at 60% 50%, #A55FDF 40%, transparent 40%),
    radial-gradient(circle at 80% 50%, #748CEE 40%, transparent 40%),
    radial-gradient(circle at 100% 50%, #678EF2 40%, transparent 40%);
  background-size: 200% 200%;
  background-attachment: fixed;
  animation: moveWaves 30s linear infinite alternate;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Noto sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Noto sans', sans-serif;
}

@keyframes moveWaves {
  0%, 100% {
    background-position: 0% 45%, 100% 55%, 0% 55%, 100% 45%, 0% 55%;
  }
  50% {
    background-position: 100% 55%, 0% 45%, 100% 45%, 0% 55%, 100% 55%;
  }
}


#about {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  /* Add a text shadow for better visibility */
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}


footer {
  font-size: .8em;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
  color: black;
}

h1, p {
  margin: 0;
}

