@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    border: 1px solid red;
}

body {
    @apply max-w-[90%] w-[1080px] mx-auto;
}

.gradient-text {
    background: linear-gradient(
        to right,
        #a855f7,
        #ec4899,
        #eab308,
        #ec4899,
        #a855f7,
        #eab308,
        #ec4899
        );
        
        background-size: 300% 300%;
        background-clip: text;
    }
